.error {
  color: red;
}

.dogCreate {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container-dogCreate {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-dog {
  width: 8%;
}

.image-dog:hover {
  transition: all 10s cubic-bezier(0.175, 0.885, 0, 1);
  transform: scale(3, 3);
}


.h1-dogCreate {
  position: relative;
  padding-top: 2%;
  padding-left: 3%;
}

.button-reset {
  cursor: pointer;
  justify-content: center;
  margin-top: 4%;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(51, 50, 50);
  border-radius: 50px;
  padding: 15px 80px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Shalimar", cursive;
}

.button-reset:active {
  color: rgb(255, 255, 255);
  background-color: black;
}

/* .button-reset:hover {
  color: rgb(0, 0, 0);
  background-color: aqua;
  transition: all 3s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0 0 10px rgb(8, 21, 210), 0 0 20px rgb(24, 100, 64), 0 0 50px rgb(21, 115, 42);


} */

.button-create {
  cursor: pointer;
  margin-top: 10%;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(51, 50, 50);
  border-radius: 50px;
  padding: 15px 80px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Shalimar", cursive;
}

.button-create:hover {
  color: rgb(0, 0, 0);
  background-color: aqua;
  transition: all 3s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0 0 10px rgb(8, 21, 210), 0 0 20px rgb(24, 100, 64),
    0 0 50px rgb(21, 115, 42);
}

.button-details {
  cursor: pointer;
  margin-top: 5%;
  border: 2px solid rgb(28, 27, 27);
  color: rgb(51, 48, 48);
  border-radius: 50px;
  padding: 15px 80px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: large;
  font-family: "Shalimar", cursive;
}

.button-details:hover {
  color: rgb(0, 0, 0);
  background-color: aqua;
  transition: all 5s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0 0 20px rgb(8, 21, 210), 0 0 20px rgb(24, 100, 64),
    0 0 50px rgb(21, 115, 42);
}

.button-landing {
  cursor: pointer;
  margin-top: 2%;
  border: 2px solid #fff;
  color: rgb(51, 48, 48);
  border-radius: 50px;
  padding: 15px 80px;
  background: transparent;
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: large;
  font-family: "Shalimar", cursive;
}

.button-landing:hover {
  color: rgb(0, 0, 0);
  background-color: aqua;
  transition: all 3s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0 0 20px rgb(8, 21, 210), 0 0 20px rgb(24, 100, 64),
    0 0 50px rgb(21, 115, 42);
}

.title {
  font-size: 50px;
  margin: 0%;
  position: relative;
  padding: 50px 80px;
}

.landing {
  background-image: url("https://c.tenor.com/GRHeBp2VRJgAAAAC/good-morning-waking-up.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.container {
  border: 2px solid #ccc;
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
  flex-wrap: wrap;
}

.navlink {
  text-decoration: none;
  color: black;
}

.image {
  max-height: 50%;
}


.cointainer2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  flex-direction: row;
  margin-left: 25%;
}

.temperaments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: cover;
}

.h4-temperaments {
  margin-left: 0.25%;
  margin-top: 0%;
}

.button-clenser {
  cursor: pointer;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
}

.cardsgrid {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1%;
}

.cards {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: rgb(208, 198, 198);
  width: 350px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
  margin-bottom: 10%;
  height: 550px;
  font-size: large;
  text-decoration: none;
}

.cards:hover {
  box-shadow: 0 0 20px rgb(52, 15, 101), 0 0 20px rgb(9, 168, 203),
    0 0 50px rgb(21, 115, 42);
  transform: scale(1.1, 1.1);
}

.card {
  box-shadow: 0 0 20px rgb(52, 15, 101), 0 0 20px rgb(9, 168, 203),
    0 0 50px rgb(21, 115, 42);
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: rgb(208, 198, 198);
  width: 600px;
  height: 700px;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
  text-decoration: none;
  text-decoration-line: none;
  margin-bottom: 10%;
  font-size: large;
  position: relative;
  border-radius: 12px;
  justify-content: center;
  margin-top: 2%;
}

.cardCointainer {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  height: 30%;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgba(195, 218, 245, 0.8);
  background-image: linear-gradient(-225deg, snow 0%, silver 100%);
  font-family: 'Pacifico', cursive;
  font-family: 'Shalimar', cursive;
  align-items: center;
} */

.paginado {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-family: "Shalimar", cursive;
  align-items: center;
  justify-content: center;
}

.number {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  width: 5px;
  height: 5px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
  color: snow;
  border-radius: 100%;
  font-size: 15px;
  cursor: pointer;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
  box-shadow: 0 0 20px rgb(148, 217, 217), 0 0 20px rgb(192, 171, 217),
    0 0 50px rgb(191, 236, 201);
}

.number:hover {
  box-shadow: 0 0 20px rgb(11, 200, 200), 0 0 20px rgb(88, 18, 174),
    0 0 50px rgb(21, 115, 42);
}

.number:active {
  background: rgb(11, 200, 200);
  color: black;
}

.cointainer3 {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 300px;
  margin-left: 40%;
}

.input {
  border-radius: 999cm;
  margin-bottom: 1%;
  margin-top: 1%;
}

.label {
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
}

.button {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
  color: snow;
  border-radius: 100%;
  top: 705px;
  left: 48%;
  font-size: 18px;
  cursor: pointer;
  margin-left: 46%;
  font-family: "Pacifico", cursive;
  font-family: "Shalimar", cursive;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 0 20px rgb(221, 10, 10), 0 0 20px rgb(88, 18, 174),
    0 0 50px rgb(21, 115, 42);
  transform: scale(1.3, 1.3);
  transition: all 3s cubic-bezier(0.175, 0.885, 0, 1);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}